 <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="https://twitter.com/donboscosv" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/donbosco.elsalvador/about" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.youtube.com/user/DonBoscoSAL" class="linkedin"><i class="fa fa-youtube"></i></a>
          <a href="https://www.instagram.com/donboscosv/?fbclid=IwAR2XZ_Ucrpb0oEj_RxLntJUU2YHc0ZmrO4vKLHRnPxUAAatrXhfpmqjJvnc" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>CDB</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Inicio</a></li>
          <li><a href="#about">Sobre nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#portfolio">Portafolio</a></li>
          <li><a href="#team">Niveles</a></li>
          <li><a href="#footer">Contactanos </a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Matricularse<br>Nunca <span>fue más fácil.</span></h2>
          
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="../../../assets/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="../../../assets/about-img.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>Colegio Don Bosco</h2>
              <h3> «Alegría, estudio y piedad: es el mejor programa para hacerte feliz y que más beneficiará tu alma.»</h3>
              <p>Que fácil es guiar a los jovenes cuando lo haces con amor.</p>
              <p>El colegio Don Bosco educa para la vida. Para que los jovenes se desarrollen plenamente como buenos cristianos y honrados ciudadanos, necesitan de la comprensión y la ayuda que el Colegio Don Bosco se encarga de brindar.</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Maestros comprometidos con su profesión.</li>
                <li><i class="ion-android-checkmark-circle"></i> Áreas recreativas, para la sana convivencia de los jovenes.</li>
                <li><i class="ion-android-checkmark-circle"></i> Salones de informática con gran capacidad, para que los alumnos desarrollen sus habilidades.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Servicios</h3>
          <p> Contamos con un personal altamente capacitado, capaz de orientar a su hijo en el transcurso del año escolar .</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Psicología</a></h4>
              <p class="description">El alumno cuenta con servicio médico y sesiones privadas con los psicologos para tratar problemas personales.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href=""> Especialidades</a></h4>
              <p class="description">Bachillerato con especialización técnica, entre los que se encuenta: Desarrollo de Software, electrónica, electromecánica, diseño gráfico.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href=""> Tutores</a></h4>
              <p class="description">Contamos con maestros calificados, ingenieros, licenciado, que comparten sus conocimientos con los jovenes.</p>
            </div>
          </div>
         
          </div>

        

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>¿Por qué matricular a su hijo en el Colegio Don Bosco?</h3>
          <p>Somos una gran institución Salesiana, que busca transmitir la enseñanzas de nuestro maestro y padre de la juventud Juan Bosco.</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="../../../assets/why-us.jpg" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
              <p>Ahora puede matricular a su hijo desde la comodidad de su casa, mediante internet.</p>
              <p>
                Optar por el colegio Don Bosco es portar por calidad en educación, donde su hijo podrá ampliar sus áreas sociales y al mismo tiempo forjarse para la vida.

               Tenemos todo lo que sus hijos necesitan.
              </p>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-diamond" style="color: #f058dc;"></i>
                <h4>Logros</h4>
                <p>Nos encargamos de enseñarle a su hijo el trabajo en equipo, la atención a los detalles, valores de convivencia, lo que lleva a que en poco tiempo su hijo tenga un enfoque en lo que desea lograr.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-object-group" style="color: #ffb774;"></i>
                <h4>Uso de talleres</h4>
                <p>En el área de bachillerato, todas las especialidades cuentan con un salón propio de la materia, ya sean laboratorios de informática
                  , talleres de mecánica, salones de dibujo.</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-language" style="color: #589af1;"></i>
                <h4>Idioma Inglés</h4>
                <p>Los jovenes desde los primeros grados, se les estimula el estudio de una segunda lengua, la cual es el inglés, lo que permite que al paso de los años, el alumno hable de manera perfecta el inglés.</p>
              </div>
              
            </div>

          </div>

        </div>

      </div>

      <div class="container">
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">84</span>
            <p>Maestros</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1021</span>
            <p>Aspirantes por año</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2,364</span>
            <p>Alumnos de la institución</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">6</span>
            <p>Especialidades</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Call To Action Section
    ============================-->
   <!-- #call-to-action -->

    <!--==========================
      Features Section
    ============================-->
    <section id="features">
      <div class="container">

        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src="../../../assets/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Siguenos en nuestras redes sociales.</h4>
            <p>
              Contamos con redes sociales en Facebook, Instagram, para que puedan enterarse de cuando comienzan los procesos de inscripciones.
            </p>
            <p>
            Pronto ampliaremos nuestras redes sociales.
            </p>
          </div>
        </div>

      </div>

       
    </section><!-- #about -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Portafolio</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Amistad</a></h4>
                <p>Amigos</p>
                <div>
                  <a href="../../../assets/portfolio/1.jpg" data-lightbox="portfolio" data-title="" class="link-preview" title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Triufar</a></h4>
                <p>Logros</p>
                <div>
                  <a href="../../../assets/portfolio/2.jpg" class="link-preview" data-lightbox="portfolio" data-title="" title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Dedicación</a></h4>
                <p>Esfuerzo</p>
                <div>
                  <a href="../../../assets/portfolio/3.jpg" class="link-preview" data-lightbox="portfolio" data-title="" title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Crea J</a></h4>
                <p>Premiación</p>
                <div>
                  <a href="../../../assets/portfolio/4.jpg" class="link-preview" data-lightbox="portfolio" data-title="" title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Azul y oro</a></h4>
                <p>Nuestros colores</p>
                <div>
                  <a href="../../../assets/portfolio/5.jpg" class="link-preview" data-lightbox="portfolio" data-title="" title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Diversión</a></h4>
                <p>Todo con amigos es mejor</p>
                <div>
                  <a href="../../../assets/portfolio/6.jpg" class="link-preview" data-lightbox="portfolio" data-title="" title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Talento</a></h4>
                <p>Habilidades</p>
                <div>
                  <a href="../../../assets/portfolio/7.jpg" class="link-preview" data-lightbox="portfolio" data-title="" title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Juegos</a></h4>
                <p>Deporte</p>
                <div>
                  <a href="../../../assets/portfolio/8.jpg" class="link-preview" data-lightbox="portfolio" data-title=" " title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Competición</a></h4>
                <p>Todos somos ganadores</p>
                <div>
                  <a href="../../../assets/portfolio/9.jpg" class="link-preview" data-lightbox="portfolio" data-title="" title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../../../assets/portfolio/11.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Compartir</a></h4>
                <p>Juntos logramos más </p>
                <div>
                  <a href="../../../assets/portfolio/11.jpg" class="link-preview" data-lightbox="portfolio" data-title="" title=""><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          
        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>Opiniones</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="../../../assets/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Hernandez</h3>
                <h4>Ex-Alumno</h4>
                <p>
                 El Colegio Don Bosco fue mi segunda casa durante 10 años, una experiencia inigualable, al día de hoy sigo recordando sus cantos.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="../../../assets/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Herrera</h3>
                <h4>Madre de familia</h4>
                <p>
                  Mi hijo lleva 2 años estudiando en la institución y nunca había sido tan felíz, no me arrepiento de haberlo cambiado de colegio.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="../../../assets/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Erika Tobar</h3>
                <h4>Madre de familia</h4>
                <p>
                 Mi hijo se encuentra en último año de Sistemas Informáticos, me siento feliz, está institución formo a mi hijo desde pequeño, gracias Colegio Don Bosco.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="../../../assets/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3> Brandon Mejía</h3>
                <h4>Ex-Alumno, padre de familia.</h4>
                <p>
              Me siento feliz poder brindarle la oportunidad de estudiar en el colegio de donde yo termine mi técnico en contaduría hace 30 años.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Matriculación por niveles</h3>
          <p>Selecciona en que nivel quieres matricular a tu hijo.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="../../../assets/team-11.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <a routerLink="/users/login">                
                  <div class="member-info-content">
                  <h4>Parvularia</h4>
                  <span>Matricular</span>
                
                 
                </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="../../../assets/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <a routerLink="/users/login">  
                <div class="member-info-content">
                  <h4>Educación básica</h4>
                  <span>Matricular</span>
                 
                </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="../../../assets/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <a routerLink="/users/login">  
                <div class="member-info-content">
                  <h4>Tercer Ciclo</h4>
                  <span>Matricular</span>
                 
                </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="../../../assets/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <a routerLink="/users/login">  
                <div class="member-info-content">
                  <h4>Bachillerato</h4>
                  <span>Matricular</span>
                  
                </div>
                </a>  
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Preguntas frecuentes</h3>
          <p>Hemos tratado de responder las preguntas que recibimos con mayor frecuencia.</p>
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">¿Comó es el proceso de inscripción? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
               Primero que nada deben de estar pendiente a nuestras publicaciones, luego deberán llenar una solicitud que compraran en colecturía, luego dicha solicitud es entregada.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">¿Con qué banco puedo pagar? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
               Con nuestras capacidades, en estos momentos podemos recibir pagos por medio de bancos como: Banco Cuscatlan, Agrícola.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">¿El colegio permite niñas?<i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
               Actualmente contamos con grados mixtos desde parvularia hasta séptimo grado. 
               En el área de bachillerato aun seguimos trabajando con la inclusión de niñas, por el momento, solo la especialdad de Salud, cuenta con la aceptación de niñas.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">¿Quieres entrar en el Colegio Don Bosco pero no cuentas con bastante información?<i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
                Primordialmente contamos con el servicio de ayuda al cliente en la Institución para que puedas acercarte a solicitar información sobre como matricularte, de igual forma en nuestras redes sociales siempre notificamos cuando inicia dicho proyecto de venta de solicitudes.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">¿Podre controlar las notas academicas que obtenga mi hijo?<i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                Como institución educativa, contamos con nuestro propio sistema de notas en linea, la cual es accesible para el uso y control de las notas academicas de sus hijos mediante una contraseña unica y mediante el código institucional del estudiante en cuestión.

              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">¿Brinda el Colegio Don Bosco estudios socio-economicos?<i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
                Si, como institución educativa brindamos ayuda a todas aquellas familias que no tienen los recursos necesarios y que desean que sus hijos tengan una buena educación.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- #faq -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>Colegio Don Bosco</h3>
                    <p>Somos una institución educativa con mas de cien años de trayectoria en El Salvador, formando niños y jóvenes con Calidad Salesiana.</p>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Herramientas</h4>
                    <ul>
                      <li><a href="#intro">Inicio</a></li>
                      <li><a href="#about">Sobre nosotros</a></li>
                      <li><a href="#services">Servicios</a></li>
                      <li><a href="#portfolio">Portafolio</a></li>
                      <li><a href="#team">Niveles</a></li>
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>Contactanos</h4>
                    <p>
                      Km 1 1/2 Calle a plan del Pino,<br>
                      Ciudadela Don Bosco,<br>
                      Soyapango.<br>
                      <strong>Teléfono:</strong> +503 2251 5000<br>
                      <strong>Correo electronico:</strong> donbosco@cdb.edu.sv<br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="https://twitter.com/donboscosv" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/donbosco.elsalvador/about" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/donboscosv/?fbclid=IwAR2XZ_Ucrpb0oEj_RxLntJUU2YHc0ZmrO4vKLHRnPxUAAatrXhfpmqjJvnc" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/user/DonBoscoSAL" class="linkedin"><i class="fa fa-youtube"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>Envianos un mensaje.</h4>
              <p>Dudas o consultas siempre estaremos dispuestos a solventarlas, solo envianos un mensaje y te responderemos lo más antes posible.</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tus nombres" data-rule="minlen:4" data-msg="Por favor, ingresa tus nombres" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Tu correo electronico" data-rule="email" data-msg="Ingresa un correo electronico valido" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Motivo de tu mensaje" data-rule="minlen:4" data-msg="Por favor ingresa un motivo del mensaje." />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escribe:" placeholder="Mensaje"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Tu mensaje ha sido enviado con exito!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Envia tu mensaje</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Colegio Don Bosco</strong>. 
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        -->
        Diseñado por <a href="http://www.cdb.edu.sv">Colegio Don Bosco</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->