<header>
    <h1 class="logo">LOGO CDB</h1>
    <nav>
      <ul class="nav-bar">
        <li><a href="#">Cerrar Sesion</a></li>
      </ul>
    </nav>
  </header>
<section  class="sec4">
    <div class="movie-card">
        <div class="color-overlay">
            <div class="movie-content">
                <div class="movie-header">
                    <h1 class="movie-title">Electronica - PILET</h1>
                    <h4 class="movie-info">Sección: </h4>
                </div>
                <p class="movie-desc"></p>
                <a class="btn btn-outline" href="users/formulario/Tercero-A">Continuar</a>
            </div>
        </div>
    </div>
        <!-- Card 2: Back to the Future -->
<div class="movie-card">
    <div class="color-overlay">
        <div class="movie-content">
            <div class="movie-header">
                <h1 class="movie-title">Sistemas Informaticos - PILET</h1>
                <h4 class="movie-info">Sección: </h4>
            </div>
            <p class="movie-desc"></p>
            <a class="btn btn-outline" href="users/formulario/Tercero-B">Continuar</a>

        </div>
    </div>
</div>

<!-- Card 3: Akira -->
<div class="movie-card">
    <div class="color-overlay">
        <div class="movie-content">
            <div class="movie-header">
                <h1 class="movie-title">Mantenimiento Automotriz</h1>
                <h4 class="movie-info">Sección:</h4>
            </div>
            <p class="movie-desc"></p>
            <a class="btn btn-outline" href="users/formulario/Tercero-C">Continuar</a>

        </div>
    </div>
</div>
<div class="movie-card">
    <div class="color-overlay">
        <div class="movie-content">
            <div class="movie-header">
                <h1 class="movie-title">Diseño Grafico</h1>
                <h4 class="movie-info">Seccion:</h4>
            </div>
            <p class="movie-desc"></p>
            <a class="btn btn-outline" href="users/formulario/Tercero-D">Continuar</a>

        </div>
    </div>
</div>
<div class="movie-card">
    <div class="color-overlay">
        <div class="movie-content">
            <div class="movie-header">
                <h1 class="movie-title">Electromecanica</h1>
                <h4 class="movie-info">Seccion: </h4>
            </div>
            <p class="movie-desc"></p>
            <a class="btn btn-outline" href="users/formulario/Tercero-F">Continuar</a>

        </div>
    </div>
</div>
</section>
