<!--<section id="register" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
  
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_register">
            <div class="card">
              <div class="card-body text-center">
                <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
                  <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                  <div class="alert alert-danger" role="alert" *ngIf="isError">
                    {{msgError}}
                  </div>
                 
  
                  
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required
                      minlength="8">
                  </div>

                  <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password"
                      required minlength="5" maxlength="10">
                  </div>

                  
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                  
                  <div class="form-group">
                    <a routerLink="/users/login" class="form-control login-user">Do you have account?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->


  
  <div class="body">
    <div id="int-form">
      <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
        <div class="login">
          <h1 class="head-title">Registrate</h1>
          <div class="uid">
            <label class="blanco">Correo </label>
            <input [(ngModel)]="email" required type="email" id="email" name="email">
          </div>
          <div class="pwd">
            <label class="blanco">Password</label>
            <input [(ngModel)]="password" type="password" id="password" name="password">
          </div>
          <button type="submit">Empezar matricula</button>
        </div>
  
      </form>
  
      
    </div>
    </div>