
<header>
    <h1>Colegio Salesiano Don Bosco <br> <span> Inscripcion al año lectivo 2020</span></h1>
    <br>
    <p>Por favor rellenar los campos con los datos que se le solicitan.</p>
  </header>
  
  <form #formWorker="ngForm" (ngSubmit)="onSaveWorker(formWorker)">

    <!--General -->
    <div class="form-group">
      <h2 class="heading">Informacion conforme partida de nacimiento</h2>

      <input type="hidden" name="id" [(ngModel)]="this.dataApi.selectedWorker.id">
      
      <div class="controls">
        <input type="text" id="apellido" class="floatLabel" name="apellido" [(ngModel)]="this.dataApi.selectedWorker.apellido">
        <label for="apellido">Apellidos</label>
      </div>
      
  
      <div class="controls">
        <input type="text" id="nombre" class="floatLabel" name="nombre" [(ngModel)]="this.dataApi.selectedWorker.nombre">
        <label for="nombre">Nombres</label>
      </div>
  
      <div class="controls">
        <i class="fa fa-sort"></i>
        <select class="floatLabel" name="grado" [(ngModel)]="this.dataApi.selectedWorker.grado">
          <option value=""></option>
          <option value="Primero">Primer Año</option>
          <option value="Segundo">Segundo Año</option>
          <option value="Tercero">Terce Año</option>
        </select>
        <label for="Grado">Grado</label>
      </div>
  
      <div class="controls">
        <i class="fa fa-sort"></i>
        <select class="floatLabel" name="especialidad" [(ngModel)]="this.dataApi.selectedWorker.especialidad">
          <option value=""></option>
          <option value="Info">Sistemas Informaticos</option>
          <option value="Eca">Electronica</option>
          <option value="Meca">Mantenimiento Automotriz</option>
          <option value="Diseño">Diseño Grafico</option>
          <option value="Emca">Electromecanica</option>
          <option value="Salud">Salud</option>
          <option value="General">General</option>
        </select>
        <label for="Especialidad">Especialidad</label>
      </div>
  
      <div class="controls">
        <i class="fa fa-sort"></i>
        <select class="floatLabel" name="seccion" [(ngModel)]="this.dataApi.selectedWorker.seccion">
          <option value=""></option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
        </select>
        <label for="Seccion">Seccion</label>
      </div>
      <div class="controls">
        <input type="number" id="codigo" class="floatLabel" name="codigo" [(ngModel)]="this.dataApi.selectedWorker.codigo">
        <label for="codigo">Codigo</label>
      </div>

    
  
    <div class="controls">
      <input type="text" id="Departamento" class="floatLabel" name="departamento" [(ngModel)]="this.dataApi.selectedWorker.departamento">
      <label for="departamento">Departamento de nacimiento</label>
    </div>
  
  <div class="controls">
    <input type="text" id="Municipio" class="floatLabel" name="municipio" [(ngModel)]="this.dataApi.selectedWorker.municipio">
    <label for="municipio">Municipio de nacimiento</label>
  </div>
  <div class="controls">
    <input type="text" id="Nacionalidad" class="floatLabel" name="nacionalidad" [(ngModel)]="this.dataApi.selectedWorker.nacionalidad">
    <label for="Nacionalidad">Nacionalidad</label>
  </div>
  <div class="controls">
    <input type="number" id="Dia" class="floatLabel" name="dia" [(ngModel)]="this.dataApi.selectedWorker.dia">
    <label for="Dia">Dia de nacimiento</label>
  </div>
  
  <div class="controls">
    <i class="fa fa-sort"></i>
    <select class="floatLabel" name="mes" [(ngModel)]="this.dataApi.selectedWorker.mes">
      <option value=""></option>
      <option value="Enero">Enero</option>
      <option value="Febrero">Febrero</option>
      <option value="Marzo">Marzo</option>
      <option value="Abril">Abril</option>
      <option value="Mayo">Mayo</option>
      <option value="Junio">Junio</option>
      <option value="Julio">Julio</option>
      <option value="Agosto">Agosto</option>
      <option value="Septiembre">Septiembre</option>
      <option value="Octubre">Octubre</option>
      <option value="Noviembre">Noviembre</option>
      <option value="Diciembre">Diciembre</option>
    </select>
    <label for="Mes">Mes</label>
  </div>
  
  <div class="controls">
    <input type="number" id="año" class="floatLabel" name="anio" [(ngModel)]="this.dataApi.selectedWorker.anio">
    <label for="año">Año</label>
  </div>
  
  <div class="controls">
    <input type="text" id="direccion" class="floatLabel" name="direccion" [(ngModel)]="this.dataApi.selectedWorker.direccion">
    <label for="direccion">Direccion</label>
  </div>
  
  <div class="controls">
    <input type="number" id="telefono" class="floatLabel" name="telefono" [(ngModel)]="this.dataApi.selectedWorker.telefono">
    <label for="telefono">Telefono</label>
  </div>
  
  <div class="controls">
    <input type="text" id="transporte" class="floatLabel" name="transporte" [(ngModel)]="this.dataApi.selectedWorker.transporte">
    <label for="transporte">Tipo de transporte que utiliza</label>
  </div>
  
  <div class="controls">
    <input type="text" id="parvularia" class="floatLabel" name="parvularia" [(ngModel)]="this.dataApi.selectedWorker.parvularia">
    <label for="parvularia">Centro educativo donde estudio PARVULARIA</label>
  </div>
  
  <div class="controls">
    <input type="text" id="1ciclo" class="floatLabel" name="primerCiclo" [(ngModel)]="this.dataApi.selectedWorker.primerCiclo">
    <label for="1ciclo">Centro educativo donde estudio I CICLO</label>
  </div>
  
  <div class="controls">
    <input type="text" id="2ciclo" class="floatLabel" name="segundoCiclo" [(ngModel)]="this.dataApi.selectedWorker.segundoCiclo">
    <label for="2ciclo">Centro educativo donde estudio II CICLO</label>
  </div>
  
  <div class="controls">
    <input type="text" id="3ciclo" class="floatLabel" name="tercerCiclo" [(ngModel)]="this.dataApi.selectedWorker.tercerCiclo">
    <label for="3ciclo">Centro educativo donde estudio III CICLO</label>
  </div>
  
  </div>
  
  
    <!--    
  
      INFORMACION ADICIONAL  -->
    <div class="form-group">
      <h2 class="heading">Informacion Adicional</h2>
      
      <div class="controls2">
        <h1>Tiene hermanos matriculados en:</h1>
        <br>
      
      <input id='colegio' type="radio" name='turno' id="colegio"  value="colegio"  [(ngModel)]="this.dataApi.selectedWorker.turno"/>
      <label for="colegio" id="lblRadio">Colegio</label>

       <input id='centro' type="radio" name='turno' id="centro" value="centro"  [(ngModel)]="this.dataApi.selectedWorker.turno"/>
      <label for="centro" id="lblRadio2">Centro Escolar</label>
    </div>
    
   
    <div class="controls">
      <input type="text" id="hermano1" class="floatLabel" name="hermano1" [(ngModel)]="this.dataApi.selectedWorker.hermano1">
      <label for="hermano1">Nombre</label>
    </div>
  
    <div class="controls">
      <input type="text" id="gradoh1" class="floatLabel" name="gradoh1" [(ngModel)]="this.dataApi.selectedWorker.gradoh1">
      <label for="gradoh1">Grado</label>
    </div>
  
    <div class="controls">
      <input type="number" id="codh1" class="floatLabel" name="codh1" [(ngModel)]="this.dataApi.selectedWorker.codh1">
      <label for="codh1">Codigo</label>
    </div>
  
    <div class="controls">
      <input type="text" id="hermano2" class="floatLabel" name="hermano2" [(ngModel)]="this.dataApi.selectedWorker.hermano2">
      <label for="hermano2">Nombre</label>
    </div>
  
    <div class="controls">
      <input type="text" id="gradoh2" class="floatLabel" name="gradoh2" [(ngModel)]="this.dataApi.selectedWorker.gradoh2">
      <label for="gradoh2">Grado</label>
    </div>
  
    <div class="controls">
      <input type="number" id="codh2" class="floatLabel" name="codh2" [(ngModel)]="this.dataApi.selectedWorker.codh2">
      <label for="codh2">Codigo</label>
    </div>
  
    <div class="controls">
      <input type="text" id="religion" class="floatLabel"  name="religion" [(ngModel)]="this.dataApi.selectedWorker.religion">
      <label for="religion">¿Que religion profesa?</label>
    </div>
    <!--
    <div class="controls2">
      <h1>¿Si es catolica que sacramento ha recibido?</h1>
    <input id='Bautismo' type="checkbox" name='Bautismo'  />
    <label for="Bautismo">Bautismo</label>
  
    <input id='Comunion' type="checkbox" name='Comunion'  />
    <label for="Comunion">Comunion</label>
  
    <input id='Confirmacion' type="checkbox" name='Confirmacion'  />
    <label for="Confirmacion">Confirmacion</label>
    
     <input id='Ninguno' type="checkbox" name='Ninguno' />
    <label for="Ninguno">Ninguno</label>
    </div>
    -->
    <div class="controls2">
      <h1>¿El estudiante es alergico a algun medicamento?</h1>
      <br>
      <br>
    <input id='AlergiaV' name="alergia" type="radio" id="AlergiaV" value="AlergiaV"  [(ngModel)]="this.dataApi.selectedWorker.alergia"/>
    <label for="AlergiaV" id="lblAlergia1">Si</label>
  
    <input id='AlergiF' name="alergia" type="radio" id="AlergiaF" value="AlergiaF"  [(ngModel)]="this.dataApi.selectedWorker.alergia"/>
    <label for="AlergiF" id="lblAlergia2">No</label>
    </div>
  
    <div class="controls">
      <input type="text" id="alergiRespuesta" class="floatLabel" name="alergiRespuesta" [(ngModel)]="this.dataApi.selectedWorker.alergiRespuesta">
      <label for="AlergiRespuesta">Si su respuesta es afirmativa, indicar a que es alergico: </label>
    </div>
  
    <div class="controls">
      <input type="text" id="impedimiento" class="floatLabel" name="impedimiento" [(ngModel)]="this.dataApi.selectedWorker.impedimento">
      <label for="Impedimiento">Tiene el estudiante algun impedimento fisico o enfermedad cronica, favor especificar: </label>
    </div>
  
    <div class="controls">
      <input type="text" id="fiebre" class="floatLabel" name="fiebre" [(ngModel)]="this.dataApi.selectedWorker.fiebre">
      <label for="Fiebre">En caso de fiebre administrar: </label> 
    </div>
  
    <div class="controls">
      <input type="text" id="dolordeestomago" class="floatLabel" name="dolordeestomago" [(ngModel)]="this.dataApi.selectedWorker.dolordeestomago">
      <label for="Dolordeestomago">En caso de dolor de estomago administrar: </label>
    </div>
  
    <div class="controls">
      <input type="text" id="dolordecabeza" class="floatLabel" name="dolordecabeza" [(ngModel)]="this.dataApi.selectedWorker.dolordecabeza">
      <label for="Dolordecabeza">En caso de dolor de cabeza administrar: </label>
    </div>
  
    <div class="controls">
      <input type="text" id="medicamentopermanente" class="floatLabel" name="medicamentopermanente" [(ngModel)]="this.dataApi.selectedWorker.medicamentopermanente">
      <label for="Medicamentopermanente">Medicamento prescrito de caracter permanente: </label>
    </div>
    
    <div class="controls">
      <input type="text" id="grupo" class="floatLabel" name="grupo" [(ngModel)]="this.dataApi.selectedWorker.grupo">
      <label for="grupo">Pertenece a un grupo juvenil, grupo religioso, etc: </label>
    </div>
  
    <!--
    <div class="controls2">
      <h1>Soy aficionado a: </h1>
    <input id='Canto' type="checkbox" name='Canto'  />
    <label for="Canto">Canto</label>
  
    <input id='Dibujo' type="checkbox" name='Dibujo'  />
    <label for="Dibujo">Dibujo</label>
  
    <input id='Artes' type="checkbox" name='Artes'  />
    <label for="Artes">Artes plasticas</label>
    
     <input id='Declamacion' type="checkbox" name='Declamacion' />
    <label for="Declamacion">Declamacion</label>
    
  
    <input id='Danza' type="checkbox" name='Danza' />
    <label for="Danza">Danza</label>
    </div>
  
    <div class="controls">
      <input type="text" id="otro" class="floatLabel" name="otro" [(ngModel)]="this.dataApi.selectedWorker.otro">
      <label for="otro">Otros: </label>
    </div>
  -->
    <div class="controls">
      <input type="text" id="conocimiento" class="floatLabel" name="conocimiento" [(ngModel)]="this.dataApi.selectedWorker.conocimiento">
      <label for="conocimiento">¿Conocimientos especiales que posee?(artes marciales, guardavida, informatica, primeros auxilios, idiomas,etc.) </label>
    </div>
  
    </div>
  
  <!-- 
     SITUACION FAMILIAR -->
    <div class="form-group">
      <h2 class="heading">Situacion familiar del/la estudiante</h2>
      
      <div class="controls">
        <input type="number" id="miembros" class="floatLabel" name="miembros" [(ngModel)]="this.dataApi.selectedWorker.miembros">
        <label for="miembros">Numeros de miembros que conforman su familia:</label>
      </div>
      
      <!--
      <div class="controls2">
        <h1>Actualmente vivo con: </h1>
      <input id='papa' type="checkbox" name='papa'  />
      <label for="papa">Papa</label>
    
      <input id='Mama' type="checkbox" name='Mama'  />
      <label for="Mama">Mama</label>
    
      <input id='Abuelos' type="checkbox" name='Abuelos'  />
      <label for="Abuelos">Abuelos</label>
      
       <input id='Tios' type="checkbox" name='Tios' />
      <label for="Tios">Tios</label>
      
      <input id='Hermanos' type="checkbox" name='Hermanos' />
      <label for="Hermanos">Hermanos</label>
  
      <input id='Padrinos' type="checkbox" name='Padrinos' />
      <label for="Padrinos">Padrinos</label>
  
      <input id='Amigos' type="checkbox" name='Amigos' />
      <label for="Amigos">Amigos</label>
      </div>
  
      <div class="controls">
        <input type="text" id="otrof" class="floatLabel" name="otrof">
        <label for="otrof">Otros especifique:</label>
      </div>
  -->
    </div>
  
  
 <!--  DATOS FAMILIARES-->
  <div class="form-group">
    <h2 class="heading">Datos Familiares</h2>
  
    <div class="controls">
      <input type="text" id="papa" class="floatLabel" name="papa" [(ngModel)]="this.dataApi.selectedWorker.papa">
      <label for="papa">Nombre del padre:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="papad" class="floatLabel" name="papad" [(ngModel)]="this.dataApi.selectedWorker.papad">
      <label for="papad">Direccion:</label>
    </div>
  
    <div class="controls">
      <input type="number" id="papatel" class="floatLabel" name="papatel" [(ngModel)]="this.dataApi.selectedWorker.papatel">
      <label for="papatel">Tel. casa:</label>
    </div>
  
    <div class="controls">
      <input type="number" id="papacel" class="floatLabel" name="papacel" [(ngModel)]="this.dataApi.selectedWorker.papacel">
      <label for="papa-cel">Celular:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="papaprofesion" class="floatLabel" name="papaprofesion" [(ngModel)]="this.dataApi.selectedWorker.papaprofesion">
      <label for="papaprofesion">Profesion u oficio:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="papalugardt" class="floatLabel" name="papalugardt" [(ngModel)]="this.dataApi.selectedWorker.papalugardt">
      <label for="papalugardt">Lugar de trabajo: </label>
    </div>
  
    <div class="controls">
      <input type="number" id="papateltrabajo" class="floatLabel" name="papateltrabajo" [(ngModel)]="this.dataApi.selectedWorker.papateltrabajo">
      <label for="papateltrabajo">Tel.trabajo:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="papareligion" class="floatLabel" name="papareligion" [(ngModel)]="this.dataApi.selectedWorker.papareligion">
      <label for="papareligion">Religion:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="papagrupo" class="floatLabel" name="papagrupo" [(ngModel)]="this.dataApi.selectedWorker.papagrupo">
      <label for="papagrupo">Grupo o asociacion religiosa a la que pertenece:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="papaiglesia" class="floatLabel" name="papaiglesia" [(ngModel)]="this.dataApi.selectedWorker.papaiglesia">
      <label for="papaiglesia">Iglesia:</label>
    </div>
  
  <!--  
    <div class="controls2">
      <h1>Estado familiar: </h1>
    <input id='casadoiglesia' type="checkbox" name='casadoiglesia'  />
    <label for="casadoiglesia">Casado por la iglesia</label>
  
    <input id='casadocivil' type="checkbox" name='casadocivil'  />
    <label for="casadocivil">Casado solo por lo civil</label>
  
    <input id='Divorciado' type="checkbox" name='Divorciado'  />
    <label for="Divorciado">Divorciado</label>
  
    <input id='Separado' type="checkbox" name='Separado' />
    <label for="Separado">Separado</label>
    
     <input id='Fallecido' type="checkbox" name='Fallecido' />
    <label for="Fallecido">Fallecido</label>
  
    </div>
  -->
    
    <div class="controls">
      <input type="text" id="mama" class="floatLabel" name="mama" [(ngModel)]="this.dataApi.selectedWorker.mama">
      <label for="mama">Nombre de la madre:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="mama" class="floatLabel" name="mamad" [(ngModel)]="this.dataApi.selectedWorker.mamad">
      <label for="mamad">Direccion:</label>
    </div>
  
    <div class="controls">
      <input type="number" id="mamatel" class="floatLabel" name="mamatel" [(ngModel)]="this.dataApi.selectedWorker.mamatel">
      <label for="mamatel">Tel. casa:</label>
    </div>
  
    <div class="controls">
      <input type="number" id="mamacel" class="floatLabel" name="mamacel" [(ngModel)]="this.dataApi.selectedWorker.mamacel">
      <label for="mamacel">Celular:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="mamaprofesion" class="floatLabel" name="mamaprofesion" [(ngModel)]="this.dataApi.selectedWorker.mamaprofesion">
      <label for="mamaprofesion">Profesion u oficio:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="mamalugardt" class="floatLabel" name="mamalugardt" [(ngModel)]="this.dataApi.selectedWorker.mamalugardt">
      <label for="mamalugardt">Lugar de trabajo: </label>
    </div>
  
    <div class="controls">
      <input type="number" id="mamateltrabajo" class="floatLabel" name="mamateltrabajo" [(ngModel)]="this.dataApi.selectedWorker.mamateltrabajo">
      <label for="mamateltrabajo">Tel.trabajo:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="mamareligion" class="floatLabel" name="mamareligion" [(ngModel)]="this.dataApi.selectedWorker.mamareligion">
      <label for="mamareligion">Religion:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="papagrupo" class="floatLabel" name="mamagrupo" [(ngModel)]="this.dataApi.selectedWorker.mamagrupo">
      <label for="mamagrupo">Grupo o asociacion religiosa a la que pertenece:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="mamaaiglesia" class="floatLabel" name="mamaiglesia" [(ngModel)]="this.dataApi.selectedWorker.mamaiglesia">
      <label for="mamaiglesia">Iglesia:</label>
    </div>
  
  <!--
    <div class="controls2">
      <h1>Estado familiar: </h1>
    <input id='casadaiglesia' type="checkbox" name='casadaiglesia'  />
    <label for="casadaiglesia">Casada por la iglesia</label>
  
    <input id='casadacivil' type="checkbox" name='casadacivil'  />
    <label for="casadacivil">Casada solo por lo civil</label>
  
    <input id='Divorciada' type="checkbox" name='Divorciada'  />
    <label for="Divorciada">Divorciada</label>
  
    <input id='Separada' type="checkbox" name='Separada' />
    <label for="Separada">Separada</label>
    
     <input id='Fallecida' type="checkbox" name='Fallecida' />
    <label for="Fallecida">Fallecida</label>
  
    </div>
  
  -->
    <div class="controls">
      <input type="text" id="encargado" class="floatLabel" name="encargado" [(ngModel)]="this.dataApi.selectedWorker.encargado">
      <label for="encargado">Nombre del encargado:(Llenar unicamente si el/la estudiante esta a cargo de persona distinta a padre o madre.)</label>
    </div>
  
    <div class="controls">
      <input type="text" id="parentesco" class="floatLabel" name="parentesco" [(ngModel)]="this.dataApi.selectedWorker.parentesco">
      <label for="parentesco">Parentesco: </label>
    </div>
  
    <div class="controls">
      <input type="number" id="encargadotel" class="floatLabel" name="encargadotel" [(ngModel)]="this.dataApi.selectedWorker.encargadotel">
      <label for="encargadotel">Tel. Casa: </label>
    </div>
  
    <div class="controls">
      <input type="number" id="encargadocel" class="floatLabel" name="encargadocel" [(ngModel)]="this.dataApi.selectedWorker.encargadocel">
      <label for="encargadocel">Celular: </label>
    </div>
  
    <div class="controls">
      <input type="text" id="encargadodirc" class="floatLabel" name="encargadodirc" [(ngModel)]="this.dataApi.selectedWorker.encargadodirc">
      <label for="encargadodirc">Direccion:</label>
    </div>
  
    <div class="controls">
      <input type="text" id="encargadoprofesion" class="floatLabel" name="encargadoprofesion" [(ngModel)]="this.dataApi.selectedWorker.encargadoprofesion">
      <label for="encargadoprofesion">Profesion u oficio:</label>
    </div>
  
    <div class="controls"> 
      <input type="text" id="encargadolugardt" class="floatLabel" name="encargadolugardt" [(ngModel)]="this.dataApi.selectedWorker.encargadolugardt">
      <label for="encargadolugardt">Lugar de trabajo: </label>
    </div>
  
    <div class="controls">
      <input type="number" id="encargadoteltrabajo" class="floatLabel" name="encargadoteltrabajo" [(ngModel)]="this.dataApi.selectedWorker.encargadoteltrabajo">
      <label for="encargadoteltrabajo">Tel.trabajo:</label>
    </div>
    
  </div>
    <!--  FIN -->
    <div class="form-group">
      <div class="controls">
        <button  type="submit">Ingresar Solicitud</button>
      </div>
    </div>
    
  </form>
  <!-- partial -->